#dialer {
	width: 175px;
	height: 40px;
	font-size: 25px;
	border-radius: 5px;
}

/*.dialerButton:hover {background-color: lightgrey;}*/

#enterNumber {
	width: 318px;
	height: 45px;
	border-radius: 5px;
	margin-left: 5px;
	font-size: 20px;
}

#tab_bar {
	height: 35px;
	padding: 5px;
	background-color: grey;
}

p {
	height: 20px;
	font-size: 40px;
	margin-top: 10px;
	font-family: "Arial";
}

.numButton {
	width: 96px;
	height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin: 5px;
}

.numButton:hover {background-color: lightgrey;}

#numPad {
	width: 330px;
	height: 300px;
}

.enterButton {
	width: 156px;
	height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin-left: 5px;
}

.enterButton:hover {background-color: lightgrey;}

.clearButton {
	width: 156px;
	height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin-left: 5px;
}

.clearButton:hover {background-color: lightgrey;}

body {
	margin: 0px;
	padding: 0px;
}

#content {
	padding-left: 10px;
}
