
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tablet Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }

#dialer {
	width: 175px;
	height: 40px;
	font-size: 25px;
	border-radius: 5px;
}

#enterNumber {
	width: 318px;
	height: 45px;
	border-radius: 5px;
	margin-left: 5px;
	font-size: 20px;
}

p {
	height: 20px;
	font-size: 40px;
	margin-top: 10px;
	font-family: "Arial";
}

.numButton {
	width: 96px;
	height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin: 5px;
}

.numButton:hover {background-color: lightgrey;}

#numPad {
	width: 330px;
	height: 300px;
}

.enterButton {
	width: 153px;
	height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin-left: 5px;
}

.enterButton:hover {background-color: lightgrey;}

.clearButton {
	width: 153px;
	height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin-left: 5px;
}

.clearButton:hover {background-color: lightgrey;}

body {
	margin: 0px;
	padding: 0px;
}

#content {
	padding-left: 10px;
}
